@charset "UTF-8";

.content {
  max-width: 1440px;
  margin: 0 auto;
  .section-1 {
    height: 1000px;
    background-color: #fff;
  }

  .section-2 {
    height: 1000px;
    position: relative;
    background-color: #fff;
    .text-area {
      left: 0;
      background-color: rgba(6, 155, 220, 0.95);
    }
  }

  .section-3 {
    height: 1000px;
    position: relative;
    background-color: #fff;
    .text-area {
      left: 50%;
      background-color: rgba(239, 0, 73, 0.95);
    }
  }

  .section-4 {
    height: 1000px;
    position: relative;
    background-color: #fff;
    .text-area {
      left: 0;
      background-color: rgba(206, 199, 53, 0.95);
    }
  }
}