@charset "UTF-8";

.content {
  //max-width: 1280px;
  //margin: 0 auto;
  .section-1 {
    height: 1000px;
  }

  .section-2 {
    height: 1000px;
    position: relative;
    .text {
      width: 50%;
      height: 600px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(6, 155, 220, 0.95);
      z-index: 1;
    }
    .image-area {
      width: 100%;
      height: 800px;
      position: absolute;
      top: 200px;
      left: 0;
      overflow: hidden;
      .image {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .section-3 {
    height: 1000px;
    position: relative;
    .text {
      width: 50%;
      height: 600px;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: rgba(239, 0, 73, 0.95);
      z-index: 1;
    }
    .image-area {
      width: 100%;
      height: 800px;
      position: absolute;
      top: 200px;
      left: 0;
      overflow: hidden;
      .image {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .section-4 {
    height: 1000px;
    position: relative;
    .text {
      width: 50%;
      height: 600px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(206, 199, 53, 0.95);
      z-index: 1;
    }
    .image-area {
      width: 100%;
      height: 800px;
      position: absolute;
      top: 200px;
      left: 0;
      overflow: hidden;
      .image {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        max-height: none;
        max-width: none;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }
}